<p-card header="" styleClass="p-card-shadow m-auto">
  <div class="grid">
    <div *ngFor="let activitie of activities" class="col-6">
      <a routerLink="{{activitie.id}}">
      <p-card header="{{activitie.name}}" subheader="" [style]="{ height: '100%'}" styleClass="p-card-shadow m-3">
          <ng-template pTemplate="header">
              <img alt="Card" [src]="activitie['image']" >
          </ng-template>
         
             <div [innerHtml]="activitie.description"></div>
         
          <ng-template pTemplate="footer">
            
          </ng-template>
      </p-card>
    </a>
    </div>
  </div>
</p-card>
