<p-card header="{{newForm ? 'Crear':'Editar'}} Miembro" styleClass="p-card-shadow m-auto col-10 mt-2">
  <div class="grid p-fluid">
    <form (ngSubmit)="submit()" [formGroup]="form" class="w-100">
      <!-- section NAME -->
      <div class="field col-12" [class.has-error]="getControl(form,'name')?.touched && getControl(form,'name')?.dirty">
        <input pInputText id="name-input" placeholder="Miembro" type="text" formControlName="name"
          aria-describedby="name-help" />
        <div *ngIf="getControl(form,'name')?.invalid">
          <small *ngIf="getControl(form,'name')?.touched && getControl(form,'name')?.hasError('required')"
            id="name-help" class="p-error">*El campo es obligatorio</small>
          <small *ngIf="getControl(form,'name')?.touched && getControl(form,'name')?.hasError('minlength')"
            id="name-help" class="p-error">*Minimo 4 caracteres.</small>
        </div>
      </div>

      <!-- section DESCRIPTION  -->
      <div class="field col-12">
        <div class="col-sm-9">
          <ckeditor [editor]="editor" [config]="config" formControlName="description"></ckeditor>
        </div>
        <div *ngIf="getControl(form,'description')?.invalid">
          <small *ngIf="getControl(form,'description')?.touched && getControl(form,'description')?.hasError('required')"
            id="title-help" class="p-error">*El campo es obligatorio</small>
        </div>
      </div>
      <!-- section IMAGE -->
      <div class="field col-12">
        <p-fileUpload #fileInput [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Elija una imagen"
          invalidFileTypeMessageDetail="Archivos permitidos: jpeg y png" accept="image/jpeg, image/png" [auto]="false"
          (onRemove)="onRemove()" (onSelect)="onSelect($event)">
        </p-fileUpload>

        <input type="hidden" name="fileHidden" formControlName="image" />

        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFile">
            <li>{{ uploadedFile.name }} - {{ uploadedFile.size }} bytes</li>
          </ul>
        </ng-template>

        <small *ngIf="getControl(form,'image')?.touched && getControl(form,'image')?.hasError('krequired')"
          id="image-help" class="p-error">Debe seleccionar una imágen</small>

        <p-card *ngIf="getControl(form,'image')?.value && !newForm" header="Imagen Actual" class="col-12">
          <p-image [src]="imageUrl" alt="Image" width="100vh" [preview]="true"></p-image>
        </p-card>
      </div>

      <!-- section BUTTONS -->
      <div class="row flex">
        <div class="col-6">
          <button pButton type="submit" label="{{newForm ? 'Crear':'Editar'}}" class="p-button-primary box"
            [loading]="isLoading"></button>
        </div>

        <div class="col-6">
          <button pButton type="button" [routerLink]="this.routerLink" label="Atras"
            class="p-button-secondary box"></button>
        </div>
      </div>
    </form>
  </div>
</p-card>