<h1 style="text-align: center;">Donaciones</h1>

<header class="acnur-header" data-type="background" data-content="Background-Desktop" style="background-image: url(../../../../assets/img/donations.jpg);display: none">
    <div class="container"></div>
</header>


<p-card [style]="{'width': '90vw','margin':'auto'}">
    
    <h2 style="text-align: center;">{{title}}</h2>
    <h3>{{message}}</h3>

    <form [formGroup]="form" class="form-inline" (ngSubmit)="donation()">
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4" [style]="{'margin-bottom':'25px'}">
                <div class="p-inputgroup">
                    <input formControlName="value" type="text" pInputText placeholder="Formato valido 100.50" required>
                    <input type="hidden" name="cant" value="1" />
                    <span appMsgErrorForm messageError="Por favor, ingrese un valor" *ngIf="empty"></span> <br>
                    <span class="invalid"
                        *ngIf="form.get('value')?.errors?.['required'] &&  form.get('value')?.touched">El importe de la
                        donacion es requerido</span>
                </div>
            </div>
        </div>
        <div style="text-align:center; margin-top:20px">
            <button pButton type="submit" label="Donar" *ngIf="form.valid"></button>
        </div>
    </form>
</p-card>
