<div class="grid">
    <p-card class="col-12 lg:col-8 lg:col-offset-2">
        <div class="text-center pl-5 my-4">
            <h1>
                Editar datos de la organización
            </h1>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="formgrid grid mt-5 ml-4 m-auto bg-faded">

            <div class="col-6 m-auto mt-5 text-center">
                <div class="field">

                    <label><strong>Logo *</strong></label>
                    <div class="image-container mb-2 m-auto">
                        <img [src]="imageBuffer" *ngIf="imageBuffer">
                    </div>
                    <button pButton type="button" (click)="image.click()" label="Choose File"
                        class="p-button-warning"></button>
                    <input accept=".jpg,.png" formControlName="logo" hidden #image type="file"
                        (change)="selectFile($event)">

                    <p-message *ngIf="imageBuffer" severity="success" styleClass="ml-2 mt-1 "></p-message>
                    <p-message *ngIf="form.invalid && !imageBuffer" severity="error" text="requerido" class="ml-2">
                    </p-message>
                    <div class="mt-2" [innerHtml]='imgMessage' *ngIf="imgMessage"></div>
                </div>
            </div>

            <div class="col-12 lg:col-6">
                <div class="field">
                    <label><strong>Nombre de la organización *</strong></label>
                    <div class="p-inputgroup">
                        <input formControlName="name" class="form-control" aria-describedby="username-help" type="text"
                            autocomplete="off" pInputText placeholder="...">
                    </div>
                    <small id="username-help" *ngIf="form.invalid && !this.form.controls['name'].value" severity="error"
                        class="p-error">Nombre de la organización es requerido.</small>
                </div>

                <div class="field">
                    <label><strong>Descripción corta *</strong></label>
                    <div class="p-inputgroup">
                        <input formControlName="shortDescription" class="form-control" aria-describedby="username-help"
                            type="text" autocomplete="off" pInputText placeholder="...">
                    </div>
                    <small id="username-help" *ngIf="form.invalid && !this.form.controls['shortDescription'].value"
                        severity="error" class="p-error">Descripción corta es requerida.</small>
                </div>

                <div class="field">
                    <label><strong>Enlace a Facebook</strong></label>
                    <div class="p-inputgroup">
                        <input formControlName="facebookLink" class="form-control" type="text" autocomplete="off"
                            pInputText placeholder="...">
                    </div>
                </div>

                <div class="field">
                    <label><strong>Enlace a Instagram</strong></label>
                    <div class="p-inputgroup">
                        <input formControlName="instagramLink" class="form-control" type="text" autocomplete="off"
                            pInputText placeholder="...">
                    </div>
                </div>

                <div class="field">
                    <label><strong>Enlace a Twitter</strong></label>
                    <div class="p-inputgroup">
                        <input formControlName="twitterLink" class="form-control" type="text" autocomplete="off"
                            pInputText placeholder="...">
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4 text-center pt-4 mt-2">
                <div class="field">
                    <label><strong>Descripción de la organización *</strong></label>
                    <ckeditor (change)="ckeditorChange($event)" data="{{defaultShortDescription}}" [editor]="Editor">
                    </ckeditor>
                </div>
            </div>

            <div class="col-12 my-5 text-center">
                <button pButton pRipple class="p-button-raised" label="Submit" type="submit"></button>
            </div>
            <p-progressSpinner class="m-auto" [style]="{width: '50px', height: '50px', opacity: '.7'}"
                *ngIf="loadSubmit">
            </p-progressSpinner>
        </form>
    </p-card>
</div>
<button type="button" style="background-color: red; position: fixed; bottom: 15px;
left: 15px;" pButton (click)="showSpinner()" label="clg form"></button>