<div class="contenedor flex justify-content-center align-items-center">

  <div class="flex flex-column">
    <div class="flex align-items-center flex-column justify-content-center">
      <h1>404</h1>
      <h3>Página no encontrada</h3>  
    </div>
    <div class="flex justify-content-center">
      <img src="assets/img/logo.png" alt="logo-somosmas" style="max-width: 120px;"/>
    </div>
    <div class="flex justify-content-center">
      <a href="/home" pButton label="Ir al inicio" class="p-button-primary"></a>
    </div>

  </div>

</div>