<p-card styleClass="" class="wrapper">
    <h2>Ponte en contacto</h2>
    <div class="info">
        <div class="cell">
            <figure>
                <img src="assets/contact/address.png" alt="">
                <figcaption>
                    <h4>Celular</h4>
                </figcaption>
                <p>{{info.data.cellphone | phoneFormat}}</p> 
            </figure>
        </div>
        <div class="cell">
            <figure>
                <img src="assets/contact/telephone.png" alt="">
                <figcaption>
                    <h4>Telefono</h4>
                </figcaption>
                <p>{{info.data.phone | phoneFormat}}</p> 
            </figure>
        </div>
        <div class="cell">
            <figure>
                <img src="assets/contact/address.png" alt="">
                <figcaption>
                    <h4>Direccion</h4>
                </figcaption>
                <p>{{info.data.address}}</p> 
            </figure>
        </div>
    </div>
</p-card>