<div class="wrapper">
    <h2>Ponte en contacto</h2>
    <div class="info">
        <div class="addres">
            <img src="" alt="">
            <h4>Direccion</h4>
            <!-- <p>{{contactInfo.addres}}</p> -->
        </div>
        <div class="phone">
            <img src="" alt="">
            <h4>Telefono</h4>
            <!-- <p>{{contactInfo.phone}}</p> -->
        </div>
        <div class="email">
            <img src="" alt="">
            <h4>Email</h4>
            <!-- <p>{{contactInfo.email}}</p> -->
        </div>
    </div>
</div>