<div class="wrapper">
    <h2>Ponte en contacto</h2>
    <div class="info">
        <div class="cell">
            <img src="assets/contact/address.png" alt="">
            <h4>Celular</h4>
            <p>{{info.data.cellphone}}</p>
        </div>
        <div class="cell">
            <img src="assets/contact/telephone.png" alt="">
            <h4>Telefono</h4>
            <p>{{info.data.phone | phoneFormat}}</p>
        </div>
        <div class="cell">
            <img src="assets/contact/address.png" alt="">
            <h4>Direccion</h4>
            <p>{{info.data.address}}</p>
        </div>
    </div>
</div>