.wrapper {
  text-align: center;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 600px;
  margin: 0 auto;
}
.cell{
  h4{
    padding: 0;
    margin: 0;
  }
  img{
    width: 52px ;
  }
}

@media screen and (max-width:900px) {
  .cell{
  img{
    width: 32px ;
  }
}

}
