<div class="container">
    <p-table [value]="this.slides" styleClass="p-datatable-customers">
        <ng-template pTemplate="caption">
            <div class="table-header flex flex-row flex wrap">
                <div class="flex align-items-center justify-content-center">
                    Lista de Diapositivas
                </div>
                <div class="flex align-items-center justify-content-center">
                    <span class="button-left">
                        <a pButton type="button" label="Crear" [routerLink]="'/backoffice/slides/crear/'" ></a>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of this.cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-slide>
            <tr>
                <td>
                    {{slide.id}}
                </td>
                <td>
                    <span class="p-column-title">Nombre</span>
                    {{slide.name}}
                </td>
                <td>
                    <span class="p-column-title">Imagen</span>
                    <img [src]="slide.image" [alt]="slide.name" width="80">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>