<section id="team" class="front-page-section">
    <div class="section-content">
        <div class="container">
            <div class="row inline-columns">
                <div id="illdy_person-5" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 widget-person" *ngFor="let item of members">
                    <div class="person clearfix" data-person-color="#f18b6d">
                        <div class="person-image"><img src="{{item.image}}" alt="Foto de {{item.name}}" title="Foto de {{item.name}}">
                        </div>
                        <div class="person-content">
                            <h6>{{item.name}}</h6>
                            <p>{{item.description}}</p>
                            <ul class="person-content-social clearfix">
                                <li><a href="#" title="Facebook" target="_blank" ><img src="https://img.icons8.com/color/30/000000/facebook-circled--v1.png"/></a></li>
                                <li><a href="#" title="LinkedIn"><img src="https://img.icons8.com/color/30/000000/linkedin-circled--v1.png"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>