@import "../../../assets/scss/colors";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    height: 65px;
    background-color: #005555;
    color: white;
    margin: 0;
}