<div class="flex-container">
    <p-card styleClass="p-card-shadow col-4">

        <form (submit)="submit()" [formGroup]="registerForm" class="w-100 col-5">

            <h2>Registro</h2>

            <div class="field" [class.has-error]="useremailControl.touched && useremailControl.dirty">
                <!-- <label for="useremail" class="block">Enter username for this new account</label> -->
                <input 
                    id="useremail" type="text"
                    placeholder='Correo electrónico' 
                    aria-describedby="useremail-help" 
                    pInputText formControlName="useremail"
                />
                <div *ngIf="useremailControl.invalid">
                    <small 
                        *ngIf="useremailControl.touched && useremailControl.hasError('required')" 
                        id="useremail-help" class="p-error">El campo es obligatorio</small>
                    <small 
                        *ngIf="useremailControl.touched && useremailControl.hasError('pattern')" 
                        id="useremail-help" class="p-error">Email invalido</small>
                    <small id="useremail-help" class="block"> {{registerForm.value.useremail}} </small>
                </div>
                
            </div>

            <div class="field">
                <!-- <label for="password" class="block">Enter password for this new account</label> -->
                <input id="password" placeholder='Contraseña' type="password" aria-describedby="password-help" pInputText  formControlName="password"/>
                <small id="password-help" class="block">{{registerForm.value.password}}</small>
            </div>

            <div class="field">
                <!-- <label for="confirmPassword" class="block">Confirm Password</label> -->
                <input id="confirmPassword" placeholder='Confirmar Contraseña' type="password" aria-describedby="confirmPassword-help" pInputText  formControlName="confirmPassword"/>
                <small id="confirmPassword-help" class="block">{{registerForm.value.confirmPassword}}</small>
            </div>

            <button pButton type="button" label="Volver"  
                class="p-button-secondary w-50">
            </button>

            <button pButton type="submit" label="Registrar" 
                class="p-button-primary w-50">
            </button>

        </form>
    </p-card>
    <div class="col-8">

    </div>
</div>