<div class="">
    <app-upper-title title="Formulario de Registro" [colorBackground]="'black'" [colorText]="'white'"></app-upper-title>
    <form (submit)="submit()" [formGroup]="registerForm" class="col-5">
        <div class="field">
            <label for="username" class="block">Enter username for this new account.</label>
            <input id="username" type="text" aria-describedby="username-help" pInputText formControlName="username"/>
            <small id="username-help" class="block">Enter username for this new account.</small>
        </div>

        <div class="field">
            <label for="password" class="block">Enter password for this new account.</label>
            <input id="password" type="password" aria-describedby="password-help" pInputText  formControlName="password"/>
            <!-- <small id="password-help" class="block">Enter password for this new account.</small> -->
        </div>

        <div class="field">
            <label for="confirmPassword" class="block">Confirm Password</label>
            <input id="confirmPassword" type="password" aria-describedby="confirmPassword-help" pInputText  formControlName="confirmPassword"/>
            <!-- <small id="confirmPassword-help" class="block">Confirm password.</small> -->
        </div>

        <button pButton type="button" label="Registrar" 
            class="p-button-primary">
        </button>

        <button pButton type="button" label="Volver"  
            class="p-button-secondary">
        </button>

    </form>
</div>
