<div class="col-12 md:col-10 lg:col-6 m-auto mt-4">
  <p-card>
    <h4>Formulario Slides</h4>
    <form autocomplete="off" [formGroup]="slideForm" (ngSubmit)="submitForm()">
      <!-- Name -->
      <div class="field">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText formControlName="name" class="inputfield w-full"> 
          <label for="float-input">Name</label>
        </span>
        <span class="form-text text-danger" *ngIf="invalidField('name')">
          Campo obligatorio, al menos 4 caracteres
        </span>
      </div>
      
      <!-- Order -->
      <div class="field mt-4">
          <span class="p-float-label">
            <input formControlName="order" id="float-input" type="number" pInputText class="inputfield w-full" (input)="orderError($event)"> 
            <label for="float-input">Order</label>
          </span>
          <span class="form-text text-danger" *ngIf="invalidField('order')">
            {{ orderMessage }}
          </span>
      </div>

      <!-- Description -->
      <div class="row mt-4">
        <div class="col-sm-9">
          <ckeditor formControlName="description" [editor]="Editor" [config]="config"></ckeditor>
        </div>
        <span class="form-text text-danger" *ngIf="invalidField('description')">
          Debe incluir una descripción
        </span>
      </div>

      <!-- Image -->
      <div class="row mt-4">
        <div class="col-sm-9">
          <p-fileUpload 
            [showUploadButton]="false" 
            [showCancelButton]="false" 
            chooseLabel="Elija la imagen" 
            invalidFileTypeMessageDetail="archivos permitidos: jpeg y png" 
            accept="image/jpeg, image/png" 
            [auto]="false" 
            (onRemove)="onRemove()"
            (onSelect)="onSelect($event)">
          </p-fileUpload>
          <input type="hidden" name="fileHidden" formControlName="image"/>
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFile">
              <li >{{uploadedFile.name}} - {{uploadedFile.size}} bytes</li>
            </ul>
          </ng-template>
          <span class="form-text text-danger" *ngIf="invalidField('image')">
            Debe seleccionar una imagen
          </span>
          <div *ngIf="imageUrl" class="row flex align-items-center justify-content-center flex-column">
            <h5>Actual image</h5>
            <p-image [src]="imageUrl" alt="Image" width="250" [preview]="true"></p-image>
          </div>
        </div>
      </div>

      <!-- Button save -->
      <div class="row mt-4">
          <button pButton type="submit" label="Guardar" class="p-button-sm"></button>
      </div>
    </form>
  </p-card>  
</div>