$bgColor: #ece9e6;
$bgColorSoft: #f0f5ffad;
$bgColorSoftYellow: #f7f4d9a2;
$bgColorSoftYellowOverlay: radial-gradient(#f0e15986 10%, #ffeec1a2 60%, #fddc6ea2);
$bgColorLight: #212121;
$white: #fff;
$lightGray: #999;
$gold: #d4af37;
$grey: #978f8c7c;
$grey300: #978f8c59;
$grey200: #978f8c34;
$lightBlue: #337ab7;
$black: #000;
$purple: #5e76bf;
$greenBlue: #005555;
$green: #1c641c;
$red: #8d1922;
$hamburgerMenuColor: rgb(64, 62, 80);
$greenLight: #207c2c;
$sm-red: #db5752;
$sm-yellow: #fafa88;
$sm-blue: #9ac9fb;
$navColor: #f1f4fd;
$softBlack800: rgba(27, 27, 27, 0.8);
$softBlack900: rgba(27, 27, 27, 0.95);
$softBlue: #cfe4fb;
