$bgColor: #e6eefc;
$bgColorLight: #212121;
$white: #fff;
$lightGray: #999;
$gold: #d4af37;
$grey: #978f8c;
$lightBlue: #337ab7;
$black: #000;
$purple: #5e76bf;
$greenBlue: #005555;
$green: #1c641c;
$red: #8D1922;
$hamburgerMenuColor: rgb(64, 62, 80);

