@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); //? Roboto
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap"); //? Karla
@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap"); //? Cormorant
@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap"); //? Eczar
@import url("https://fonts.googleapis.com/css2?family=Maitree&display=swap"); //? Maitree
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap"); //? Adamina
@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap"); //? Martel
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); //? Montserrat

$roboto: 'Roboto';
$Karla: 'Karla';
$Cormorant: 'Cormorant'; //
$Eczar: 'Eczar';
$Maitree: 'Maitree'; //
$Adamina: 'Adamina'; //
$Martel: 'Martel'; //
$Montserrat: 'Montserrat';
