<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>

<ng-template #infoTemplate>
    <h1 mat-dialog-title>{{dialogData.header}}</h1>
    <mat-dialog-content>{{this.dialogData.content}}</mat-dialog-content>
    <mat-dialog-actions>
        <button 
            *ngIf="dialogData.btnOk !== undefined"
            mat-button [mat-dialog-close]="type" 
            class="p-button-{{type}} p-button-text"
            pButton label="{{dialogData.btnOk}}"
        ></button>
        <button 
            *ngIf="isConfirm && dialogData.btnCancel !== undefined"
            mat-button [mat-dialog-close]="cancel" 
            class="p-button-secondary p-button-text"
            pButton label="{{dialogData.btnCancel}}"
        ></button>
    </mat-dialog-actions>
</ng-template>


<ng-template #errorTemplate>
   <alk-error-dialog-template [content]="dialogData.content" [header]="dialogData.header"></alk-error-dialog-template>
</ng-template>

<ng-template #successTemplate>
    <alk-success-dialog-template [message]="dialogData.content" [title]="dialogData.header" [filePDF]="this.dialogData.filePDF"></alk-success-dialog-template>
 </ng-template>