<div class="col-12 md:col-10 lg:col-10 xl:col-8 m-auto mt-4">
  <p-card>
    <div class="w-100 pr-5" style="text-align: end">
      <button
        pButton
        icon="pi pi-plus"
        routerLink="/backoffice/actividades/crear"
        class="p-button-sm float-right"
        pTooltip="Agregar tarea"
        tooltipPosition="top"
      ></button>
    </div>
    <p-table
      #dt
      [value]="(activities$ | async)"
      dataKey="id"
      styleClass="p-datatable-customers"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [filterDelay]="0"
      [globalFilterFields]="['activity.name', 'activity.created_at']"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            <div class="flex justify-content-center align-items-center" style="text-align: center">
              Nombre
              <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center align-items-center">
              Imagen
              <p-columnFilter type="text" field="image" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="created_at" style="width: 30%">
            <div class="flex justify-content-center align-items-center">
              Creado
              <p-sortIcon field="created_at"></p-sortIcon>
              <p-columnFilter type="text" field="created_at" display="menu" class="ml-auto"></p-columnFilter>
            </div>
          </th>
          <th style="width: 15%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr class="p-selectable-row">
          <td>
            {{ activity.name }}
          </td>
          <td>
            <p-image
              [src]="activity.image"
              alt="Image"
              width="60"
              [preview]="true"
              *ngIf="activity.image"
            ></p-image>
          </td>
          <td>
            <span class="image-text">{{ activity.created_at | date: 'dd/MM/YYYY HH:m:ss' }}</span>
          </td>
          <td style="min-width: 110px !important">
            <button pButton name="edit" (click)="this.editActivity(activity.id)" icon="pi pi-pencil" class="p-button-sm p-button-primary mr-1"></button>
            <button pButton name="delete" icon="pi pi-trash" class="p-button-sm p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
