<div class="grid">
    <p-card class="col-12 md:col-8 md:col-offset-2">
        <div class="col-12 text-left pl-5 my-4">
            <h1>
                {{formTitle}}
            </h1>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="grid m-auto bg-faded">
            <div class="col-12 md:col-9 pl-4 mt-2">
                <label for="name" class="col-sm-3 col-form-label"><strong>Nombre de la actividad *</strong></label>
                <div class="p-inputgroup">
                    <input id="username" formControlName="name" class="form-control" aria-describedby="username-help"
                        type="text" autocomplete="off" pInputText placeholder="...">
                </div>
                <small id="username-help" *ngIf="form.invalid && invalidState && !this.form.controls['name'].value"
                    severity="error" class="p-error">Nombre de la actividad es requerido.</small>
                <div class="mt-4">
                    <ckeditor (change)="ckeditorChange($event)" data="{{defaultDescription}}" [editor]="Editor">
                    </ckeditor>
                </div>
            </div>

            <div class="col-6 md:col-3 pl-3">
                <strong>Imagen de portada *</strong>
                <div class="image-container mb-2">
                    <img [src]="imageBuffer" *ngIf="imageBuffer">
                </div>
                <button pButton type="button" (click)="image.click()" label="Choose File"
                    class="p-button-warning"></button>
                <input accept=".jpg,.png" formControlName="description" hidden #image type="file"
                    (change)="selectFile($event)">

                <p-message *ngIf="imageBuffer" severity="success" styleClass="ml-2 mt-1 "></p-message>
                <p-message *ngIf="form.invalid && invalidState && !imageBuffer" severity="error" text="requerido"
                    class="ml-2">
                </p-message>
                <div class="mt-2" [innerHtml]='imgMessage' *ngIf="imgMessage"></div>
            </div>

            <div class="col-12 my-5 text-center">
                <button pButton pRipple class="p-button-raised" label="Submit" type="submit"></button>
            </div>
            <p-progressSpinner class="m-auto" [style]="{width: '50px', height: '50px', opacity: '.7'}"
                *ngIf="loadSubmit">
            </p-progressSpinner>
        </form>
    </p-card>
</div>
<button type="button" style="background-color: red; position: absolute; bottom: 15px;
left: 15px;" pButton (click)="showViaService()" label="clg form"></button>