<div class="container">
    <p-carousel [value]="slides" [autoplayInterval]="5000" [circular]="true">
        <ng-template let-slide pTemplate="item">
            <div class="slide-item">
                <div class="slide-item-content">
                    <div class="mb-3">
                        <img [src]="slide.image" [alt]="slide.name" class="slide-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{slide.name}}</h4>
                        <div [innerHTML]="slide.description"></div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>