<header>
  <nav class="navbar">
    <a href="" class="navbar-logo">
      <img src="assets/img/logo.png" alt="logo de la ONG" />
    </a>
    <ul class="navbar-links" [ngClass]="openNavbar ? 'active': ''">
      <li *ngFor="let link of links">
        <a (click)="openNavbar = false" *ngIf="link.render" [routerLinkActive]="['active']" [routerLink]="[link.link]">{{link.text}}</a>
      </li>
    </ul>
      <div id="menu-btn" class="menu" (click)="openNavbar = !openNavbar">
        menu
      </div>
  </nav>

</header>