@import '__colors';
$navColor: #373946;
$hamburgerMenuColor:  rgb(64, 62, 80);

header {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    color: $white;
    background-color: $navColor;
    margin: 0;
    #menu-btn {
      display: none;
      cursor: pointer;
    }
    .navbar-logo {
      display: block;
      margin-left: 25px;
      margin-top: 5px;
      img {
        width: 115px;
      }
    }
    .navbar-links {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        a {
          margin-right: 15px;
          color: $white;
          cursor: pointer;
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 5px;
        }
        a:hover {
          background-color: rgba(206, 206, 206, 0.349);
        }
      }
    }
  }
}
.campain-button {
  margin-left: 20px;
  background: rgba(68, 83, 216, 0.609);
  color: inherit;
  border: 0px solid white;
  padding: 8px 10px;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.active {
  color: $navColor !important;
  background-color: rgba(255, 255, 255, 0.616);
}

@media screen and (max-width: 868px) {
  header {
    .navbar {
      .navbar-links {
        position: absolute;
        top: 65px;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100vw;
        background: $navColor;
        li {
          text-align: center;
        }
      }
      .active {
        display: block !important;
        display: grid !important;
        grid-template-columns: 1fr;
        li {
          width: 100%;
          height: 100%;
          margin: 10px;
        }
      }
      #menu-btn {
        display: inline-block;
        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 5px;
          background-color: $hamburgerMenuColor;
          margin: 6px 0;
          transition: 0.4s;
        }
        .change1{
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change2{
          opacity: 0;
        }
        .change3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
  }
}
