@import '__colors';
$navColor: #373946;
header {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    color: $white;
    background-color: $navColor;
    margin: 0;
    #menu-btn {
      display: none;
      color: #ef233c;
      cursor: pointer;
    }
    .navbar-logo{
      display: block;
      img {
        width: 115px;
      }
    }
    .navbar-links {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        a {
          margin-right: 15px;
          color: $white;
          cursor: pointer;
          text-decoration: none;
          padding: 5px 10px;
          border-radius: 5px;
        }
        a:hover {
          background-color: rgba(206, 206, 206, 0.349);
        }
      }
    }
  }
}
.campain-button {
  margin-left: 20px;
  background: rgba(68, 83, 216, 0.609);
  color: inherit;
  border: 0px solid white;
  padding: 8px 10px;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.active {
  color: #373946 !important;
  background-color: rgba(255, 255, 255, 0.616);
}

@media screen and (max-width: 868px) {
  header {
    .navbar {
      .navbar-links {
        position: absolute;
        top: 65px;
        display: none;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100vw;
        background: black;
        li{
            text-align: center;
        }

      }
      .active{
        display: block !important;
        display: grid  !important;
        grid-template-columns: 1fr;
      }
      #menu-btn {
        display: inline-block;
      }
    }
  }
}
