<header>
  <nav class="navbar">
    <a href="" class="navbar-logo" routerLink="/home" >
      <img src="assets/img/logo.png" alt="logo de la ONG"/>
    </a>
    <ul class="navbar-links" [ngClass]="openNavbar ? 'active': ''">

      <li *ngFor="let link of links" [routerLinkActive]="['activeLink']" [routerLink]="[link.link]">
        <a (click)="openNavbar = false" >{{link.text}}</a>
      </li>

      <li>
        <button 
          *ngIf="!loggedIn"
          pButton
          class="p-button-primary p-button-sm"
          [routerLink]="['iniciar-sesion']"
        >
        Login</button>
        <button 
          pButton
          *ngIf="loggedIn"
          class="p-button-secondary p-button-sm ml-2"
          (click)="logout()"
        >
        Logout</button>
      </li>

    </ul>
      <div id="menu-btn" class="menu" (click)="openNavbar = !openNavbar" >
          <div class="bar1" [ngClass]="openNavbar ? 'change1': ''"></div>
          <div class="bar2" [ngClass]="openNavbar ? 'change2': ''"></div>
          <div class="bar3" [ngClass]="openNavbar ? 'change3': ''"></div>
      </div>
  </nav>

</header>
