@import "__colors";

footer {
    display: flex;
    position: sticky;  
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    margin-top: 2vh;    
    color: $white;
    background-color: $greenBlue;
}