@import '__fonts';
@import '__colors';


.container {
  background-image:url(/assets/public/login.jpg);min-height:calc(100vh - 119px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 850px;
}

.surface-card{
  box-shadow: 5px 5px 5px -6px $black !important;
}

.img-header{
background-color: $lightBlue;
}

.title{
  margin-top: 1.5rem;
}

.btn-content{
  display: flex;
  justify-content: space-between;
}

.btn{
  display: flex;
  justify-content: space-between;
  width: 48%;
  height: auto;
  color: $black;
  background-color: $white;
  border-color: $black;
}

@media only screen and (max-width: 550px) {

  .btn{
    width: 100%;
  }

  .btn-content{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    #btn_googleLogin img {
      max-height: 16px;
      max-width: 16px;
    }
  }

}
