<div class="wrapper">
	<div class="outer">
		<div class="content animated fadeInLeft">
			<h1>Error al procesar<br/>  la donación</h1>
			<p>Lamentablemente la operacion no fue realizada</p>
            <div class="btn-error">
                <div class="btn">
                    <a class="cart-btn" routerLink="/donar"><i class="cart-icon ion-bag"></i>Volver a intentar</a>
                </div>
                <div class="button">
                    <a  routerLink="/">Cancelar</a>
                </div>

            </div>
		</div>
		<img src="/assets/public/donations/error.svg" width="300px" class="animated fadeInRight">
        
	</div>
</div>