.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: fit-content;
  padding: 5px 0 10px 0;
  background-color: beige;
}

img {
  border: 1px solid rgba(128, 128, 128, 0.22);
}
