@import "__colors";

body{
    background: $purple;
}

.wrapped{
    margin-top: 0rem;
}

section{
    margin-top: 5rem;
}

.contact-padding{
    padding-left: 1rem;
    padding-right: 1rem;
}

.map-container{

}

.info-container{
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}