@import "__colors";
@import "__material_styles";
@import "__map";

/* You can add global styles to this file, and also import other style files */

@mixin max-container($width, $height) {
    max-height: $height;
    max-width: $width; 
} 

html, body {
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}
* {
    margin:  0;
    padding: 0;
  }

.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}

.text-danger {
    color: red;
    font-size: .8rem;
    font-weight: 400;
}

.max {  
    // no style
    &-60vh {
      @extend .max;
      @include max-container( 60vh, 60vh);
    }
}

.fit-cover{
    object-fit: cover;
}
