<p-card header="Registro" styleClass="p-card-shadow col-6 m-auto">
  <div class="grid p-fluid">
    <form (submit)="submit()" [formGroup]="formSignup" class="w-100 col-5">

      <div class="field" [class.has-error]="passwordControl.touched && passwordControl.dirty">
        <input
          id="name"
          placeholder="Nombre"
          type="text"
          aria-describedby="name-help"
          pInputText
          formControlName="name"
        />
        <div *ngIf="usernameControl.invalid">
          <small
            *ngIf="usernameControl.touched && usernameControl.hasError('required')"
            id="name-help"
            class="p-error"
            >El campo es obligatorio
          </small>
        </div>
      </div>
      
      <div class="field" [class.has-error]="useremailControl.touched && useremailControl.dirty">
        <input
          pInputText
          id="useremail"
          type="text"
          placeholder="Correo electrónico"
          aria-describedby="useremail-help"
          formControlName="useremail"
        />
        <div *ngIf="useremailControl.invalid">
          <small
            *ngIf="useremailControl.touched && useremailControl.hasError('required')"
            id="useremail-help"
            class="p-error"
            >El campo es obligatorio</small
          >
          <small
            *ngIf="useremailControl.touched && useremailControl.hasError('hasEmail')"
            id="useremail-help"
            class="p-error"
            >Email invalido</small
          >
        </div>
      </div>

      <div class="field" [class.has-error]="userdirectionControl.touched && userdirectionControl.dirty">        
        <input
        pInputText
        id="userdirection"
        type="text"
        [class.has-error]="userdirectionControl.touched && userdirectionControl.dirty"
        placeholder="Ingrese Direccion"
        aria-describedby="userdirection-help"
        formControlName="userdirection"
        ngx-google-places-autocomplete
        #placesRef="ngx-places"
        (onAddressChange)="handleAdressChange($event)"
      />

        <div *ngIf="useremailControl.invalid">
          <small
            *ngIf="useremailControl.touched && useremailControl.hasError('required')"
            id="useremail-help"
            class="p-error"
            >El campo es obligatorio</small
          >
          <small
            *ngIf="useremailControl.touched && useremailControl.hasError('hasEmail')"
            id="useremail-help"
            class="p-error"
            >Email invalido</small
          >
        </div>
      </div>

      <div class="field" [class.has-error]="passwordControl.touched && passwordControl.dirty">
        <input
          id="password"
          placeholder="Contraseña"
          type="password"
          aria-describedby="password-help"
          pInputText
          formControlName="password"
        />
        <div *ngIf="passwordControl.invalid">
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('required')"
            id="password-help"
            class="p-error"
            >El campo es obligatorio
          </small>
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('minlength')"
            id="password-help"
            class="p-error block"
            >Debe tener minimo seis caracteres.
          </small>
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('hasNoSpaces')"
            id="password-help"
            class="p-error block"
            >No ingrese espacios.</small
          >
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('hasNumber')"
            id="password-help"
            class="p-error block"
            >Ingrese al menos un número.</small
          >
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('hasWord')"
            id="password-help"
            class="p-error block"
            >Ingrese al menos una letra.</small
          >
          <small
            *ngIf="passwordControl.touched && passwordControl.hasError('hasSymbol')"
            id="password-help"
            class="p-error block"
            >Ingrese al menos un símbolo.</small
          >
        </div>
      </div>

      <div class="field" [class.has-error]="confirmPasswordControl.touched && confirmPasswordControl.dirty">
        <input
          id="confirmPassword"
          placeholder="Confirmar Contraseña"
          type="password"
          aria-describedby="confirmPassword-help"
          pInputText
          formControlName="confirmPassword"
        />
        <div *ngIf="passwordControl.touched && confirmPasswordControl.touched" class="error">
          <div *ngIf="confirmPasswordControl.invalid">
            <small
              *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')"
              id="password-help"
              class="p-error block"
              >El campo es obligatorio</small
            >
            <small
              *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('NoPassswordMatch')"
              id="password-help"
              class="p-error block"
              >La confirmacion no coincide.</small
            >
          </div>
        </div>
      </div>

      <div *ngIf="!termsAccepted" class="terms">
        <button pButton pRipple type="button" (click)="getTermsAcceptance()" label="Leer términos y condiciones." class="p-button-warning p-button-text"></button>
      </div>
      <div *ngIf="termsAccepted" class="terms">
        <button pButton pRipple type="button" disabled label="Acepto los términos y condiciones." class="p-button-success p-button-text"></button>
      <div class="mt-4 col-12" *ngIf="viewMap && direction?.valid">
        <google-map width="100%" [center]="position" [zoom]="15">
          <map-marker
          [position]="position"
          [label]="label"
          [title]="title"
          > </map-marker>
        </google-map>
      </div>
    </div>
      <div>
        <button pButton type="submit" label="Registrar" (click)="submit()" class="p-button-primary col-"></button>

        <button pButton type="button" label="Volver" class="p-button-danger col-6"></button>
      </div>
    </form>
  </div>
</p-card>
