@import '@../../../../../../../styles/_colors';

@media screen and (min-width: 2048px) {
  //smart tv background overlay
  .campaign-container {
    background: $bgColorOverlay;
  }
}

.image-container {
  max-height: 60vh;
  & img {
    object-fit: cover;
    height: 100%;
    max-width: 100vw;
  }

  & figcaption {
    transform: translateY(-32px);
    background: rgba(185, 185, 185, 0.616);
    padding: 3px;
    font-weight: 500;
    position: absolute;
    width: 26%;
    left: 37%;
  }
}

.description-container {
  position: relative;

  & .related-img {
    display: none; //display only on desktop or bigger
  }

  @media screen and (min-width: 992px) {
    & .related-img {
      display: block;
      height: 80px;
      position: absolute;
      &.related-1 {
        left: 8%;
        top: -35%;
        transform: rotate(-5deg);
      }
      &.related-2 {
        right: 9%;
        top: -28%;
        transform: rotate(-5deg);
      }
      //.description-container
      &.related-3 {
        left: 17%;
        top: 5%;
        transform: rotate(20deg);
      }
      &.related-4 {
        left: 4%;
        top: 15%;
        transform: rotate(-15deg);
      }
      &.related-5 {
        right: 20%;
        top: 6%;
        transform: rotate(-5deg);
      }
      &.related-6 {
        right: 5%;
        top: 18%;
        transform: rotate(-5deg);
      }
      &.related-7 {
        right: 17%;
        top: 65%;
        transform: rotate(10deg);
      }
      &.related-8 {
        left: 15%;
        top: 70%;
        transform: rotate(135deg);
        height: 60px;
      }
    }

    & .description,
    .countdown-container {
      position: relative;
      width: 46%;
      left: 27%;
    }
  }
}

.countdown-container {
  padding: 2px;
  border: 1px solid rgb(150, 149, 149);
  border-radius: 2%;
  box-shadow: 3px 2px 5px 1px rgb(153, 153, 153);
  background: radial-gradient(rgb(250, 237, 180) 75%, rgba(187, 150, 2, 0.425));

  @media screen and (max-width: 992px) {
    margin: 0 5% 0 5%;
  }
}
