<div class="container campaign-container">
  <div class="grid text-center">
    <div class="col-12 text-center campaign-title">
      <h2>{{ this.campaign.title }}</h2>
    </div>
    <div class="col-12 image-container mb-4 md:mb-0">
      <img src="{{ this.campaign.img }}" alt="content-img" />
      <figcaption *ngIf="this.campaign.imgTitle">{{ this.campaign.imgTitle }}</figcaption>
    </div>

    <div class="col-12 py-2">
      <div class="description-container">
        <div class="countdown-container">
          <p>
            Te quedan
            <span style="font-weight: 500">{{ timeleft.days }}d {{ timeleft.hours }}h {{ timeleft.minutes }}m</span>
            para participar.
          </p>
        </div>

        <div class="description">
          <p>
            <i><u>Fecha y lugar</u></i>: <br> {{ campaign.date.getDay() | weekdayFormat }} {{ campaign.date.getDate() }} de
             {{ campaign.date.getMonth() | monthNumberFormat }} de
             {{ campaign.date.getFullYear() }}  |       
           {{ campaign.place }}</p>

          <h3 class="mt-4"><u><i>Descripción</i></u></h3>
          <p [innerText]="campaign.description"></p>
        </div>
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-1.png"
          alt="toys-3"
          class="related-img related-1"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-2.png"
          alt="toys-4"
          class="related-img related-2"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-3.png"
          alt="toys-3"
          class="related-img related-3"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-4.png"
          alt="toys-4"
          class="related-img related-4"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-5.png"
          alt="toys-5"
          class="related-img related-5"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-6.png"
          alt="toys-6"
          class="related-img related-6"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-7.png"
          alt="toys-7"
          class="related-img related-7"
        />
        <img
          src="../../../../../assets/campaign/related-juguetes-campaign-8.png"
          alt="toys-8"
          class="related-img related-8"
        />
      </div>
    </div>
  </div>
</div>
