@import '@../../../../../../../styles/_colors';

.topbox-container {
    background: $bgColor;
  }

.campaign-title > h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.2em;
  text-shadow: 1px 2px 2px rgba(95, 95, 95, 0.89);
  color: $gold;

  @media screen and (max-width: 991px) {
    //medium devices
    font-size: 1.5em;
  }

  @media screen and (max-width: 575px) {
    // small devices
    letter-spacing: 2px;
    font-size: 1em;
  }
}

.logo-img {
  width: 70%;
  @media screen and (max-width: 576px) {
    // small devices
    width: 100%;
  }
}

.image-container {
  max-height: 60vh;
  & img {
      object-fit: cover;
      height: 100%;
      max-width: 100vw;
  }
}

.description-container {
    position: relative;

    & .related-img { 
     display: none; //display only on desktop or bigger
    }

  @media screen and (min-width: 992px) {
    & .related-img {
       display: block;
       height: 80px;
       position: absolute;
       
    &.related-1 {
        left: 17%;
        top: 5%;
        transform: rotate(20deg);
     }
    &.related-2 {
        left: 4%;
        top: 15%;
        transform: rotate(-15deg);
     }
    &.related-3 {
        right: 18%;
        top: 6%;
        transform: rotate(-5deg);
     }
    &.related-4 {
        right: 7%;
        top: 18%;
        transform: rotate(-5deg);
     }
    &.related-5 {
        right: 17%;
        top: 65%;
        transform: rotate(10deg);
     }
    &.related-6 {
        left: 15%;
        top: 70%;
        transform: rotate(-5deg);
     }  
    }

    & .description { 
      position: relative;
      width: 46%;
      left: 27%;
    }
  }
}

