@import '@../../../../../../../styles/_colors';

.campaign-container {
  background: $bgColorSoftYellow;
  @media screen and (min-width: 2048px) {  //smart tv background overlay
    background: $bgColorSoftYellowOverlay;
  }
}

.campaign-title > h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.2em;
  text-shadow: 1px 2px 2px rgba(95, 95, 95, 0.89);
  color: $gold;

  @media screen and (max-width: 991px) {
    //medium devices
    font-size: 1.5em;
  }

  @media screen and (max-width: 575px) {
    // small devices
    letter-spacing: 2px;
    font-size: 1em;
  }
}

.image-container {
  max-height: 60vh;
  & img {
    object-fit: cover;
    height: 100%;
    max-width: 100vw;
    box-shadow: 0px -1px 7px 7px rgba(39, 17, 99, 0.267);
  }

  & figcaption {
    transform: translateY(-32px);
    background: rgba(185, 185, 185, 0.616);
    padding: 3px;
    font-weight: 500;
    position: absolute;
    width: 26%;
    left: 37%;
  }
}

.description-container {
  position: relative;
  font-weight: 500;
  
  font-size: 1.4em;
  & .description {
    border: 2px solid rgba(173, 172, 172, 0.452);
    padding: 4px;
    background: rgba(202, 202, 202, 0.384);
    box-shadow: 1px 1px 2px rgba(201, 236, 250, 0.808);
    backdrop-filter: blur(2px);

      font-size: .8em;
      & h3 {
      font-size: 1.4em;
      opacity: .9;
      }
    }  
  
  & .related-img {
    display: none; //display only on desktop or bigger
  }

  @media screen and (min-width: 992px) {
    & .related-img { // floating related images styles
      display: block;
      height: 80px;
      position: absolute;

      @media screen and (min-width: 1200px) {
        height: 120px;
      }
      @media screen and (min-width: 2048px) {
        height: 150px;
      }

      &.related-1 {
        left: 8%;
        top: -35%;
        transform: rotate(-5deg);
      }
      &.related-2 {
        right: 8%;
        top: -28%;
        transform: rotate(-5deg);
      }
      &.related-3 {
        left: 17%;
        top: 5%;
        transform: rotate(20deg);
      }
      &.related-4 {
        left: 4%;
        top: 15%;
        transform: rotate(-15deg);
      }
      &.related-5 {
        right: 20%;
        top: 6%;
        transform: rotate(-5deg);
      }
      &.related-6 {
        right: 5%;
        top: 18%;
        transform: rotate(-5deg);
      }
      &.related-7 {
        right: 17%;
        top: 65%;
        transform: rotate(10deg);
      }
      &.related-8 {
        left: 15%;
        top: 70%;
        transform: rotate(135deg);
        height: 60px;
      }
    }
    
    & .description,
    .countdown-container { //move to center 
      position: relative;
      width: 46%;
      left: 27%;
   
    }
  }
}
.countdown-container {
  padding: 2px;
  border: 1px solid rgb(150, 149, 149);
  border-radius: 2%;
  box-shadow: 3px 2px 5px 1px rgb(153, 153, 153);
  background: radial-gradient(rgb(250, 237, 180) 75%, rgba(187, 150, 2, 0.315));
  font-size: 120%;
}
.countdown-container,.description{ //some padding to boxes on mobile devices
@media screen and (max-width: 992px) {
  margin: 0 5% 0 5%;
}
}


