<!-- 
    * Título 
    * Contenido > ckeditor
     Categoría > dropdown
    * campo Imagen >
     obtener las Categorías desde el endpoint /categories. 
    * Además, para el Contenido, reemplazar el campo de texto por la librería CKEditor. 
! El objetivo es convertirlo en un formulario reutilizable para las acciones de edición y creación de Novedades.  
-->

<p-card header="Creacion/Edicion" styleClass="p-card-shadow m-auto col-6">
    <div class="grid p-fluid">
        <form (submit)="submit()" [formGroup]="formNews" class="w-100">

            <div class="field col-12" [class.has-error]="titleControl.touched && titleControl.dirty">
                <input pInputText id="title-input" placeholder="Titulo" type="text" formControlName="title" aria-describedby="title-help"/>
                <div *ngIf="titleControl.invalid">
                    <small 
                        *ngIf="titleControl.touched && titleControl.hasError('required')" 
                        id="title-help" class="p-error">El campo es obligatorio</small>
                    <small 
                        *ngIf="titleControl.touched && titleControl.hasError('minlength')" 
                        id="title-help" class="p-error">Minimo 4 caracteres.</small>
                </div>
            </div>

            <div class="field col-12">
                <input id="content" placeholder='Contenido' type="text" pInputText/>
            </div>

            <div class="field col-12" [class.has-error]="titleControl.touched && titleControl.dirty">
                <app-category-dropdown placeholder="Categoria" aria-describedby="category-help"
                    (emitSelect)="selectedIdCategory($event)" (emitClicked)="dropdownCategoryEmpty($event)" 
                    >
                </app-category-dropdown>
                <small 
                    *ngIf="this.categoryEmpty" 
                    id="category-help" class="p-error">Seleccione una categoria.</small>
            </div>
            
            <div class="row flex">

                <div class="col-6">
                    <button pButton type="submit" label="Crear/Editar"class="p-button-primary box"></button>
                </div>

                <div class="col-6">
                    <button pButton type="button" label="Atras" class="p-button-secondary box"></button>
                </div>

            </div>

        </form>
    </div>
</p-card>