$colorText: black;
$fontFamily: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$bgColor: rgb(252, 96, 85);

.text-title{
    font-family: $fontFamily;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    color: $colorText;
}

.container-title{
    padding: 1px;
    margin: 0;
    border-radius: 5px;
    background-color: $bgColor;
    background-position: center;
}