@import '__colors';

.mat-dialog-container {
	background: $white;
	color: $black;
}

.btn {
	background: $greenLight;
	color: $white;
}

.mat-dialog-title{
	background: $greenLight;
	color: $white;
}
